{% extends "base.html" %}

{% load static %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'audiotrack/css/tracklist.css' %}"/>
{% endblock %}

{% block title %}
Audiotracks
{% endblock %}

{% block content %}

<form>
    {{ form.search }} {{ form.sort_field }} {{ form.errors }}
    <input type="submit" value="submit">
</form>

<div>
    <a href="{% url 'audiotrack:audiotrack_create' %}"/>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 30%;">
    <a class="btn-floating btn-large red" href="{% url 'audiotrack:audiotrack_create' %}">
        <i class="large material-icons">mode_edit</i>
    </a>
</div>

<div>
    <ul class="collection">

        {% for at in object_list %}

        <li class="collection-item avatar tracklist--item">
            <i class="material-icons circle red">play_arrow</i>
            <a href="{% url 'audiotrack:detail' pk=at.id %}">

                <span class="title">{{ at.name }}</span>

                <p>{{ at.url }}</p>
                <!--<a href="{% url 'audiotrack:detail' pk=at.id %}" class="secondary-content"><i-->
                <!--class="material-icons">grade</i></a>-->
            </a>
        </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}