{% extends "base.html" %}

{% block title %}
Playlists
{% endblock %}

{% block content %}
{% for playlist in object_list %}

<div class="row">
    <div class="col s20 m5">
        <div class="card deep-purple darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ playlist.name }}</span>
            </div>
            <div class="card-action">
                <a href="{% url 'playlist:playlist_detail' pk=playlist.id %}">Playlist Details</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<div><a href="{% url 'playlist:playlist_create' %}">Create playlist</a></div>

{% endblock %}