{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Title:
{{ playlist.name }}
{% endblock %}

{% block content %}

<div id="showl">
    {{ playlist.likes.count }}
</div>
<div>
    <input type="button" id="like" name="{{ playlist.slug }}" value="Like" data-id="#like" data-url="{% url 'playlist:like' %}" data-token="{{ csrf_token }}"/>
</div>

<script src="{% static 'playlist/js/like.js' %}"></script>

{% if playlist.is_private %}
<div>Private playlist</div>
{% else %}
<div>Public playlist</div>
{% endif %}

<div>
    <button id="play_it">Play</button>
</div>

<table>
    <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Url</th>
        <th data-field="price">Item Price</th>
    </tr>
    </thead>

    <tbody>
    {% for audiotrack in playlist.audiotracks.all %}
    <tr>
        <td>{{ audiotrack.name }}</td>
        <td><a href="{% url 'audiotrack:detail' pk=audiotrack.id %}">Url</a></td>
        <td>tmp</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div id="player_data" data-songs-urls="{% for audiotrack in playlist.audiotracks.all %}{{audiotrack.url}},{% endfor %}"></div>
<script src="{% static 'core/js/jaudio.js' %}"></script>


{% endblock %}