{% extends "base.html" %}

{% block title %}
Playlists
{% endblock %}

{% block content %}

<div class="row">
    {% for playlist in object_list %}
    <div class="col s3 m3">
        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title">{{ playlist.name }}</span>
            </div>
            <div class="card-action">
                <a href="{% url 'playlist:playlist_detail' pk=playlist.id %}">Playlist Details</a>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div><a href="{% url 'playlist:playlist_create' %}">Create playlist</a></div>

{% endblock %}