{% extends "base.html" %}

{% block title %}
Title:
{{ playlist.name }}
{% endblock %}

{% block content %}

<div id="showl">
    {{ playlist.likes.count }}
</div>
<div>
    <input type="button" id="like" name="{{ playlist.slug }}" value="Like" />
</div>

<script>
$('#like').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'playlist:like' %}",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      $('#showl').text(response.likes_count)
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    })
</script>

{% if playlist.is_private %}
<div>Private playlist</div>
{% else %}
<div>Public playlist</div>
{% endif %}

<div>
    <button id="play_it">Play</button>
</div>

<table>
    <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Url</th>
        <th data-field="price">Item Price</th>
    </tr>
    </thead>

    <tbody>
    {% for audiotrack in playlist.audiotracks.all %}
    <tr>
        <td>{{ audiotrack.name }}</td>
        <td><a href="{% url 'audiotrack:detail' pk=audiotrack.id %}">Url</a></td>
        <td>tmp</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $('#play_it').click(function(){
        var t = {
            playlist: [
                {% for audiotrack in playlist.audiotracks.all %}
                {
                    file: "{{ audiotrack.url }}",
                    thumb: "resources/thumbs/01.jpg",
                    trackName: "{{ audiotrack.name }}",
                    trackArtist: "Tobu & Syndec",
                    trackAlbum: "Single",
                    },
                {% endfor %}
            ]
        }
        $(".jAudio--player").jAudio(t);
    });


</script>


{% endblock %}