<!DOCTYPE html>


<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="{% static 'core/css/audioplayer.css' %}"/>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/materialize.min.css' %}"
          media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'core/js/materialize.min.js' %}"></script>

<div>
    <ul id="slide-out" class="side-nav">
        <li><a href="{% url 'playlist:playlist_list' %}">Playlists</a></li>
        <li><a href="{% url 'audiotrack:audiotrack_list' %}">Audiotracks</a></li>
        <li><a href="{% url 'audiotrack:audiotrack_create' %}">Create audiotrack</a></li>
        <li>
            {% if user.is_anonymous %}
            <a href="{% url 'login' %}">Login</a>
            {% else %}
            <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </li>
    </ul>
</div>

<div class="row navbar-fixed">
    <nav class="col s9">

        <ul>
            <li>
                <a href="#" data-activates="slide-out" class="left button-collapse show-on-large"><i
                        class="mdi-navigation-menu"></i></a>
            </li>
            <li><a href="#">{% block title %} {% endblock %}</a></li>
            <li class="right">
                {{ user }}
            </li>
        </ul>
    </nav>

    <nav class="col s3 offset-s9">
        <ul>
            <li><a href="{% url 'playlist:playlist_list' %}">AnyButton</a></li>
        </ul>
    </nav>
</div>

<!--<comment>TODO: scrollable parts of screen</comment>-->
<!--<div id="content">-->
<!--<div id="left">-->
<!--</div>-->
<!--<div id="right">asdfasdf</div>-->
<!--</div>-->

<div class="row">
    <div class="col s9">
        {% block content %} {% endblock %}
    </div>
    <div class="col s3">
        <!--AUDIO PLAYER-->
        <!--<audio src="sound.mp3" controls></audio>-->

        <div class='jAudio--player' id='player'>

            <audio></audio>

            <div class='jAudio--ui'>

                <div class='jAudio--thumb'></div>

                <div class='jAudio--status-bar'>

                    <div class='jAudio--details'></div>
                    <div class='jAudio--volume-bar'></div>

                    <div class='jAudio--progress-bar'>
                        <div class='jAudio--progress-bar-wrapper'>
                            <div class='jAudio--progress-bar-played'>
                                <span class='jAudio--progress-bar-pointer'></span>
                            </div>
                        </div>
                    </div>

                    <div class='jAudio--time'>
                        <span class='jAudio--time-elapsed'>00:00</span>
                        <span class='jAudio--time-total'>00:00</span>
                    </div>

                </div>

            </div>


            <div class='jAudio--playlist'>
            </div>

            <div class='jAudio--controls'>
                <ul>
                    <li>
                        <button class='btn' data-action='prev' id='btn-prev'><span></span></button>
                    </li>
                    <li>
                        <button class='btn' data-action='play' id='btn-play'><span></span></button>
                    </li>
                    <li>
                        <button class='btn' data-action='next' id='btn-next'><span></span></button>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>


<script> $(".button-collapse").sideNav(); </script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>

<!--<script src='resources/js/jaudio.min.js'></script>-->
<script src="{% static 'core/js/jaudio.js' %}"></script>


</body>
</html>