<!DOCTYPE html>


<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="{% static 'core/css/materialize.min.css' %}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/style.css' %}">

</head>
<body>

<!-- jQuery is required by Materialize to function -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
    $primary-color: color("blue", "base");

</script>

<nav>
    <div class="nav-wrapper deep-purple lighten-2">
        <a href="#" class="brand-logo right">Profile(?)</a>
        <ul id="audiotracks_menu_button" class="left hide-on-med-and-down">
            <li><a href="{% url 'audiotrack:audiotrack_list' %}">Audiotracks</a></li>
        </ul>
        <ul id="playlists_menu_button" class="left hide-on-med-and-down">
            <li><a href="{% url 'playlist:playlist_list' %}">Playlists</a></li>
        </ul>
    </div>
</nav>

{% block title %} {% endblock %}

{% block content %} {% endblock %}

</body>
</html>